// Contact
.contact {
    height: 60vh;
    .heading::before {
        content: "Let's Chat";
    }

    .icons-wrapper {
        display: flex;
        justify-content: center;
    }

    // &-form {
    //     width: 100%;
    //     margin-top: 10rem;
    //     position: relative;

    //     input,
    //     .message {
    //         font-size: 2rem;
    //         width: 100%;
    //         display: block;
    //         height: 5rem;
    //         padding: 2rem;
    //         border-radius: .5rem;
    //         box-shadow: $box-shadow;
    //         background: $prime-background;
    //         color: $mainBg;
    //         border: none;
    //         outline: none;
    //         margin: 3rem 0;
    //         resize: none;
    //     }

    //     .message {
    //         height: 20rem;
    //     }

    //     .name {
    //         display: flex;
    //         justify-content: space-between;

    //         input {
    //             width: 49%;
    //             margin: 0;
    //         }
    //     }

    //     .btn {
    //         display: block;
    //         margin: auto;
    //         cursor: pointer;
    //     }
    // }
}
