// Footer
.footer {
    width: 100%;
    height: auto;
    text-align: center;
    background: $prime-background;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;

    span {
        color: burlywood;
        font-size: 5rem;
    }

    img {
        width: 22rem;
        height: 22rem;
        margin-left: .5rem;
    }
}
