// Tablet View
@media (max-width: 996px) {
    html {
        font-size: 1rem;
    }

    // toggle btn
    .toggle-btn {
        position: absolute;
        width: 4rem;
        height: 4rem;
        right: 10vw;
        cursor: pointer;

        span {
            position: absolute;
            width: 100%;
            height: .2rem;
            // background-color: $blackColor;
            top: 30%;
            transition: .5s;

            &:nth-child(2) {
                top: 70%;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    top: 50%;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    top: 50%;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .navbar .links-container {
        position: absolute;
        top: 6rem;
        // background-color: $secBg;
        width: 100%;
        left: 0;
        padding: 0 10vw;
        flex-direction: column;
        transition: .5s;
        opacity: 0;
        pointer-events: none;

        &.show {
            opacity: 1;
            pointer-events: all;
        }

        .links-item .link {
            margin-left: auto;
            text-align: center;
            display: block;
        }
    }

    // Home Section
    .home {
        flex-direction: column-reverse;
        height: fit-content;
        padding-bottom: 5rem;

        .hero-content {
            width: 70%;
            min-width: 35rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .hero-heading {
                font-size: 4.5rem;
            }

            .profession span {
                display: block;
            }
        }

        .image {
            width: 35rem;
            box-shadow: 1rem 0rem 0rem 0rem #ff9480, -1rem -1rem 0rem 0rem #ffb2a4;
        }
    }

    .skills .skill-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 780px) {
    .hero-content {
        .hero-heading {
            font-size: 4rem !important;
            font-weight: 500;
        }

        .sub-heading {
            font-size: 2.5rem !important;
            margin: 2rem 0 6rem;
            // color: $primeColor;
        }
    }

    .icons-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;

        .icon-link {
            width: 100%;
        }
    }

    .skill-container {
        .skill-card {
            flex-direction: column-reverse;

            .skill {
                font-size: 2.2rem !important;
            }
        }
    }

    .skills .service-section .services {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 15rem;

        .service {
            margin: 3rem;

            &-heading {
                margin: 0;
            }
        }
    }

    .project-container {
        grid-template-columns: 1fr !important;
    }
}

// Mobile View
@media (max-width: 600px) {
    html {
        font-size: 1rem;
    }

    .home {
        .profession {
            margin: auto;

            span {
                font-size: 3rem;
                text-align: center;
            }
        }
    }

    .skills .skill-container .skill-card {
        grid-column: 2 span;
    }

    .skills .service-section .services {
        grid-template-columns: 1fr;
        margin-bottom: 45rem;

        .service {
            i {
                font-size: 8rem;
            }

            &-heading {
                margin: 0;
            }
        }
    }

    .filters {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .project-container {
        .project-card {
            .content {
                .tags {
                    font-size: 1.5rem !important;
                }

                .link {
                    .project-name {
                        font-size: 2rem !important;
                    }
                }
            }
        }
    }

    .skills .skill-container,
    .project .project-container {
        grid-template-columns: 1fr !important;
    }

    .contact {
        .icons-wrapper {
            display: flex;
        }
    }

    .footer {
        padding-top: 5rem;
        flex-direction: column;

        span {
            color: burlywood;
            font-size: 5rem;
        }

        img {
            width: 12rem;
            margin-top: -5rem;
        }
    }
}

@media (max-width: 450px) {
    body {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        overflow-x: hidden;
        max-width: 100%;
    }

    .heading {
        font-size: 3rem;

        &::before {
            font-size: 3rem !important;
            top: -130% !important;
        }
    }
    
    .skills .info-desc {
        font-size: 1.5rem;
    }

    .skills .skill-heading {
        font-size: 2rem;
    }

    .home .avatar .image {
        width: 75%;
        height: 75%;
        left: 50%;
        transform: translateX(-50%);
    }

    .project .filters .filter-btn {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .footer {
        font-size: 2rem;

        img{
            width: 10rem;
        }
    }
}
