// Tablet View

@media (max-width: 996px) {
    html {
        font-size: 1.4rem;
    }

    // toggle btn
    .toggle-btn {
        position: absolute;
        width: 4rem;
        height: 4rem;
        right: 10vw;
        cursor: pointer;

        span {
            position: absolute;
            width: 100%;
            height: .2rem;
            background-color: $blackColor;
            top: 30%;
            transition: .5s;

            &:nth-child(2) {
                top: 70%;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    top: 50%;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    top: 50%;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .navbar .links-container {
        position: absolute;
        top: 6rem;
        background-color: $secBg;
        width: 100%;
        left: 0;
        padding: 0 10vw;
        flex-direction: column;
        transition: .5s;
        opacity: 0;
        pointer-events: none;

        &.show {
            opacity: 1;
            pointer-events: all;
        }

        .links-item .link {
            margin-left: auto;
            text-align: center;
            display: block;
        }
    }

    // Home Section
    .home {
        flex-direction: column-reverse;
        height: fit-content;
        padding-bottom: 5rem;

        .hero-content {
            width: 70%;
            min-width: 35rem;
            text-align: center;

            .hero-heading {
                font-size: 4.5rem;
            }

            .profession span {
                display: block;
            }
        }

        .image {
            width: 35rem;
            box-shadow: 1rem 0rem 0rem 0rem #ff9480, -1rem -1rem 0rem 0rem #ffb2a4;
        }
    }

    .skills .skill-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Mobile View
@media (max-width: 500px) {
    html {
        font-size: 1.2rem;
    }

    .home .profession {
        margin: auto;

        span {
            font-size: 3rem;
            text-align: center;
        }
    }

    .skills .skill-container .skill-card {
        grid-column: 2 span;
    }

    .skills .skill-container,
    .project .project-container {
        grid-template-columns: 1fr;
    }
}
