// variables
$mainBg: #fff;
$secBg: #e9e9e9;
$blackColor: #000;
$primeColor: #ff4522;
$background-color: #ECF0F3;
$box-shadow: 10px 10px 19px rgba(0, 0, 0, 10%);
$prime-background: linear-gradient(145deg, #e2e8ec, #ffffff);
$active-background: linear-gradient(180deg, #ee6f55, #f86348);
$skills-box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;

