:root {
    --mainBg: rgb(20, 15, 15);
    --secBg: #1b1111;
    --blackColor: rgb(36, 24, 24);
    --primeColor: #1b1210;
    --background-color: #0a1218;
    --box-shadow: 10px 10px 19px rgba(0, 0, 0, 10%);
    --prime-background: linear-gradient(145deg, #090e11, #ffffff);
    --active-background: linear-gradient(180deg, #1a0e0c, #f86348);
    --skills-box-shadow: 5px 5px 15px #0c0f13, -5px -5px 15px #ffffff;
}
