$mainBg: #16161649;
$secBg: #161616ee;
$blackColor: #c4cfde;
$primeColor: #ff014f;
$background-color: #161616;
$box-shadow: linear-gradient(145deg, #1e2024, #23272b);
$prime-background: linear-gradient(to right bottom, #212428, #252a30);
$active-background: linear-gradient(180deg, #ff014f, #f74d80);
$skills-box-shadow: 5px 5px 19px #1c1e22, -5px -5px 19px #262a2e;

// common

body {
    background-color: #212428;
}

html {
    font-size: 62.5%;
}

::-webkit-scrollbar-thumb {
    background-color: $primeColor;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff014daf;
}

p {
    color: rgb(202, 202, 202);
}

.icons-wrapper {
    .icon-link {
        box-shadow: $box-shadow;
        background: $prime-background;
        color: $blackColor;

        &:hover {
            background: $active-background;
        }
    }
}

.heading {
    color: $blackColor;

    &::before {
        color: #ff014d49;
    }
}

// Navbar
.navbar {
    background-color: $background-color;
    box-shadow: $box-shadow;

    .links-container {
        .links-item {
            .link {
                color: $blackColor;

                &.active {
                    color: $primeColor;
                }
            }
        }
    }
}

// home section
.home {
    background-image: linear-gradient(to bottom, $secBg, $mainBg);

    .hero-content {
        .hero-heading {
            color: $blackColor;
        }

        .sub-heading {
            color: $primeColor;
        }
    }
}

.skills {
    .skill-heading {
        color: $primeColor;
    }

    .skill-container {
        .skill-card {
            background: $prime-background;
            box-shadow: $skills-box-shadow;

            i {
                color: $blackColor;
            }

            &:hover {
                box-shadow: $skills-box-shadow;
                background: linear-gradient(to left top, #2124289d, #252a30cb);

                .skill {
                    color: $blackColor;
                }
            }
        }
    }

    .service-section {
        .service-head {
            color: #fff;

            span {
                color: $primeColor;
            }

            &::after {
                background-color: $primeColor;
            }
        }

        .services {
            .service {
                &-heading {
                    color: rgb(190, 190, 190);
                }

                &:hover {
                    i {
                        color: $primeColor;
                    }
                }
            }
        }
    }
}

// project section
.project {
    background: $secBg;

    .filters {
        .filter-btn {
            color: $blackColor;
            box-shadow: $skills-box-shadow;
            background: $prime-background;

            &.active {
                background: $active-background;
                color: #fff;
            }
        }
    }

    .project-container {
        .project-card {
            color: $mainBg;
            background: $mainBg;

            .content {
                .tags {
                    color: $primeColor;
                }

                .link {
                    color: $mainBg;

                    .project-name {
                        color: $blackColor;
                    }

                    i {
                        color: $blackColor;
                    }

                    &:hover {
                        .project-name, i {
                            color: $primeColor;
                        }
                    }
                }
            }

            &:hover {
                box-shadow: $skills-box-shadow;
            }
        }
    }
}

// Contact

// Footer
.footer {
    color: $blackColor;
    background: $secBg;
    box-shadow: $box-shadow;
}

@media (max-width: 996px) {
    // toggle btn
    .toggle-btn {
        span {
            background-color: $blackColor;
        }
    }

    .navbar .links-container {
        background-color: $secBg;
    }
}

@media (max-width: 780px) {
    .hero-content {
        .sub-heading {
            color: $primeColor;
        }
    }
}