body {
  background-color: #212428; }

html {
  font-size: 62.5%; }

::-webkit-scrollbar-thumb {
  background-color: #ff014f; }

::-webkit-scrollbar-thumb:hover {
  background-color: #ff014daf; }

p {
  color: #cacaca; }

.icons-wrapper .icon-link {
  box-shadow: linear-gradient(145deg, #1e2024, #23272b);
  background: linear-gradient(to right bottom, #212428, #252a30);
  color: #c4cfde; }
  .icons-wrapper .icon-link:hover {
    background: linear-gradient(180deg, #ff014f, #f74d80); }

.heading {
  color: #c4cfde; }
  .heading::before {
    color: #ff014d49; }

.navbar {
  background-color: #161616;
  box-shadow: linear-gradient(145deg, #1e2024, #23272b); }
  .navbar .links-container .links-item .link {
    color: #c4cfde; }
    .navbar .links-container .links-item .link.active {
      color: #ff014f; }

.home {
  background-image: linear-gradient(to bottom, #1616161c, #16161649); }
  .home .hero-content .hero-heading {
    color: #c4cfde; }
  .home .hero-content .sub-heading {
    color: #ff014f; }

.skills .skill-heading {
  color: #ff014f; }
.skills .skill-container .skill-card {
  background: linear-gradient(to right bottom, #212428, #252a30);
  box-shadow: 5px 5px 19px #1c1e22, -5px -5px 19px #262a2e; }
  .skills .skill-container .skill-card .skill {
    color: #6e6e6e; }
  .skills .skill-container .skill-card i {
    color: #c4cfde; }
  .skills .skill-container .skill-card:hover {
    box-shadow: 5px 5px 19px #1c1e22, -5px -5px 19px #262a2e;
    background: linear-gradient(to left top, #2124289d, #252a30cb); }
    .skills .skill-container .skill-card:hover .skill {
      color: #c4cfde; }
.skills .service-section .service-head {
  color: #fff; }
  .skills .service-section .service-head span {
    color: #ff014f; }
  .skills .service-section .service-head::after {
    background-color: #ff014f; }
.skills .service-section .services .service-heading {
  color: #bebebe; }
.skills .service-section .services .service:hover i {
  color: #ff014f; }

.project {
  background: #1616161c; }
  .project .filters .filter-btn {
    color: #c4cfde;
    box-shadow: 5px 5px 19px #1c1e22, -5px -5px 19px #262a2e;
    background: linear-gradient(to right bottom, #212428, #252a30); }
    .project .filters .filter-btn.active {
      background: linear-gradient(180deg, #ff014f, #f74d80);
      color: #fff; }
  .project .project-container .project-card {
    color: #16161649;
    background: #16161649; }
    .project .project-container .project-card .content .tags {
      color: #ff014f; }
    .project .project-container .project-card .content .link {
      color: #16161649; }
      .project .project-container .project-card .content .link .project-name {
        color: #c4cfde; }
      .project .project-container .project-card .content .link i {
        color: #c4cfde; }
      .project .project-container .project-card .content .link:hover .project-name, .project .project-container .project-card .content .link:hover i {
        color: #ff014f; }
    .project .project-container .project-card:hover {
      box-shadow: 5px 5px 19px #1c1e22, -5px -5px 19px #262a2e; }

.footer {
  color: #c4cfde;
  background: #1616161c;
  box-shadow: linear-gradient(145deg, #1e2024, #23272b); }

/*# sourceMappingURL=styleDark.css.map */
