$mainBg: #16161649;
$secBg: #1616161c;
$blackColor: #c4cfde;
$primeColor: #ff014f;
$background-color: #161616;
$box-shadow: linear-gradient(145deg, #1e2024, #23272b);
$prime-background: linear-gradient(to right bottom, #212428, #252a30);
$active-background: linear-gradient(180deg, #ff014f, #f74d80);
$skills-box-shadow: 5px 5px 19px #1c1e22, -5px -5px 19px #262a2e;

// common

body {
    background-color: #212428;
}

::-webkit-scrollbar-thumb {
    background-color: $primeColor;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff014daf;
}

p {
    color: rgb(202, 202, 202);
}

.icons-wrapper {
    .icon-link {
        box-shadow: $box-shadow;
        background: $prime-background;
        color: $blackColor;

        &:hover {
            background: $active-background;
        }
    }
}

.heading {
    color: $blackColor;

    &::before {
        color: #ff014d49;
    }
}

// Navbar
.navbar {
    background-color: $background-color;
    box-shadow: $box-shadow;

    .links-container {
        .links-item {
            .link {
                color: $blackColor;

                &.active {
                    color: $primeColor;
                }
            }
        }
    }
}

// home section
.home {
    background-image: linear-gradient(to bottom, $secBg, $mainBg);

    .hero-content {
        .hero-heading {
            color: $blackColor;
        }

        .sub-heading {
            color: $primeColor;
        }
    }

    .avatar .image {
        background: u;
    }
}

.skills {
    .skill-heading {
        color: $primeColor;
    }

    .skill-container {
        .skill-card {
            background: $prime-background;
            box-shadow: $skills-box-shadow;

            .skill {
                color: rgb(110, 110, 110);
            }

            i {
                color: $blackColor;
            }

            &:hover {
                box-shadow: $skills-box-shadow;
                background: linear-gradient(to left top, #2124289d, #252a30cb);

                .skill {
                    color: $blackColor;
                }
            }
        }
    }

    .service-section {
        .service-head {
            color: #fff;

            span {
                color: $primeColor;
            }

            &::after {
                background-color: $primeColor;
            }
        }

        .services {
            .service {
                &-heading {
                    color: rgb(190, 190, 190);
                }

                &:hover {
                    i {
                        color: $primeColor;
                    }
                }
            }
        }
    }
}

// project section
.project {
    background: $secBg;

    .filters {
        .filter-btn {
            color: $blackColor;
            box-shadow: $skills-box-shadow;
            background: $prime-background;

            &.active {
                background: $active-background;
                color: #fff;
            }
        }
    }

    .project-container {
        .project-card {
            color: $mainBg;
            background: $mainBg;

            .content {
                .tags {
                    color: $primeColor;
                }

                .link {
                    color: $mainBg;

                    .project-name {
                        color: $blackColor;
                    }

                    i {
                        color: $blackColor;
                    }

                    &:hover {
                        .project-name, i {
                            color: $primeColor;
                        }
                    }
                }
            }

            &:hover {
                box-shadow: $skills-box-shadow;
            }
        }
    }
}

// Contact
.contact {
    height: 60vh;

    .heading::before {
        content: "Let's Chat";
    }

    .icons-wrapper {
        justify-content: center;
    }
}

// Footer
.footer {
    color: $blackColor;
    background: $secBg;
    box-shadow: $box-shadow;

    span {
        color: burlywood;
    }
}

// responsive
// Tablet View

@media (max-width: 996px) {
    // toggle btn
    .toggle-btn {
        span {
            background-color: $blackColor;
        }
    }

    .navbar .links-container {
        background-color: #161616c2;
        width: 100%;
        left: 0;
        padding: 0 10vw;
        flex-direction: column;
        transition: .5s;
        opacity: 0;
        pointer-events: none;

        &.show {
            opacity: 1;
            pointer-events: all;
        }

        .links-item .link {
            margin-left: auto;
            text-align: center;
            display: block;
        }
    }

    // Home Section
    .home {
        flex-direction: column-reverse;
        height: fit-content;
        padding-bottom: 5rem;

        .hero-content {
            width: 70%;
            min-width: 35rem;
            text-align: center;

            .hero-heading {
                font-size: 4.5rem;
            }

            .profession span {
                display: block;
            }
        }

        .image {
            width: 35rem;
            box-shadow: 1rem 0rem 0rem 0rem #ff9480, -1rem -1rem 0rem 0rem #ffb2a4;
        }
    }

    .skills .skill-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Mobile View
@media (max-width: 500px) {
    html {
        font-size: 1.2rem;
    }

    .home .profession {
        margin: auto;

        span {
            font-size: 3rem;
            text-align: center;
        }
    }

    .skills .skill-container .skill-card {
        grid-column: 2 span;
    }

    .skills .skill-container,
    .project .project-container {
        grid-template-columns: 1fr;
    }
}
